
header div {
    width: 50%;

    div img {
        border-radius: 5px;
        width: 10%;
    }
    
}
.logo{
    width: 5px;
}

.carousel{
    justify-content: center;
    display: flex;
    width: 55%;
    margin-left: 20%;
}

