.imagen_principal {
    display: flex;
    justify-content: center;

    img {
        width: 100%;
        height: auto;
    }
}

.historiadisney {
    margin-left: 50px;
    justify-content: center;
    display: flex;
    width: 50%;
}